title{
     color: blue;
     background color: white;
     font-family: Arial;
     margin: 2;
     text-transform: uppercase;
}
}

h1{
     color: black;
     font-family: Arial;
     margin: 2;
     text-transform: lowercase;
}

h2{
     color: green;
     font-family: Arial;
     margin: 2;
     text-transform: lowercase;
}


p{
     color: purple
     font-family: Arial;
     margin: 2;
     text transform: lowercase}

     . all img {
          padding top: 0x;
          max-width: 768px
          float: left;

     }