body { color: white; 
	background-color: black;
	font-family: Verdana, Arial, sans-serif; 
	margin-left: auto;
    margin-right: auto;
	text-transform: lowercase; 
	height: 100vh;
	background-position: center;
	background-size: cover; }


@media (max-width: 480px) {
	body { background-color:purple;
		flex-direction: column; }
}

@media (max-width: 768px) {
	body { background-color:purple; 
	     	flex-direction: column; }
}

@media (max-width: 1024px) {
	body { background-color:white; }
}

@media (max-width: 1920px) {
	body { background-color:red; }

@media (max-width: 2500px) {
	body { background-color:black }
}


#wrapper { display: grid;
           grid-template-columns: 150px 1fr;
           grid-template-rows: 100px auto 50px;
           grid-template-areas:
                "ul    ol"; }

p { color: blue;
	font-family: Verdana, Arial, sans-serif; 
	margin-left: auto;
    margin-right: auto;
	text-transform: lowercase; 
	text-align: center;
	font-style: italic;
	background-color: white;
	clear: both;}

h1 { color: red; background-color: black; 
	 font-family: Verdana, cursive, sans-serif;	
	 margin-left: auto;
     margin-right: auto;
     text-transform: uppercase; }

h2 { color: purple; background-color: black; 
	 font-family: Verdana, fantasy, sans-serif; 
	 margin-left: auto;
     margin-right: auto;
	 text-transform: uppercase; }

ul{ color: gold;
	 font-family: Verdana, Arial, sans-serif; 
	 float: left;
	 width: 0px;
	 text-transform: lowercase; 
	 background-color: black;}

ol { color: gold;
	 font-family: Verdana, Arial, sans-serif; 
     margin-left: auto;
	 text-transform: lowercase; 
	 margin-left:100px;
	 background-color: white;}


